<h2 class="title">{{ site.title }}</h2>
<nav>
    <a href="{{ site.url }}">About</a> 
    <a href="{{ '/blog/' | relative_url }}">Blog</a>
    <a href="{{ '/tools/' | relative_url }}">Tools</a>

    {% for link in site.links %}
        <a href="{{ site.url }}{{ link[1] }}">{{ link[0] }}</a>
    {% endfor %}
    
    {% for link in site.special_links %}
            <a href="{{ link[1] }}">[{{ link[0] }}]</a>
    {% endfor %}
</nav>






<!--


<nav>
    <a href="{{ '/' | relative_url }}">About</a> 
    <a href="{{ '/blog/' | relative_url }}">Blog</a>

    {% for link in site.links %}
        <a href="{{ link[1] | relative_url }}">{{ link[0] }}</a>
    {% endfor %}

    {% for link in site.special_links %}
        <a href="{{ link[1] }}">[{{ link[0] }}]</a>
    {% endfor %}
</nav>

 <a href="{{ site.url }}{{ site.Blog }}">Blog</a>
-->


